.News-Top-Nav {
   overflow: hidden;
}
.News-Title {
   float: left;
}
.News-AddNewPost-Btn {
   float: right;
}
.Posts {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}