.Post {
   width: 50%;
   border-radius: 10px;
   border: 1px solid;
   margin-bottom: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 15px;
}
.Post-Image {
   width: 150px;
   height: 150px;
}